<div class="screen-wrapper">
  <div class="screen-inner">
    <span class="text1">Hello World!</span>
    <span class="text2">Welcome to<br />Musicology Introduction page!</span>
    <span class="text3">MUSICOLOGY</span>
  </div>
</div>

<div class="video-wrapper">
  <video type="mp4" autoplay loop muted preload="metadata">
    <source src="./public/assets/bg-video.mp4" />
  </video>
</div>
