body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif KR', serif;
}

div {
  box-sizing: border-box;

}

button {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: 'Noto Serif KR', serif;
}

a {
  text-decoration: none;
  color: #000;
}

.main {
  font-size: 20px;
  font-weight: 900;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  transition: all .3s;
  box-sizing: border-box;
}

.main:hover {
  background-color: rgba(0, 0, 0, .1);
  border-color: rgba(0, 0, 0, 0);
}


/* HEADER */
header{
  position: fixed;
  width: 100%;
}


header .container {
  height: 93px;
  padding: 0 60px 0 60px;
  display: flex;
  align-items: center;
  position: relative;
  background-color: #fff;
}

.nav-btn {
  padding: 0 1rem;
}

.nav-btn>span {
  padding: 10px;
}

.nav-btn>span:hover {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, .1);
}

header .container>.main {
  margin: 0 1rem;
}

.menu-btn {
  font-size: 18px;
  font-weight: 600;
  padding: 0 1.3rem;
}

.search {
  position: relative;
  width: 40%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
}

.search .search-btn {
  position: absolute;
  z-index: 2;
  left: 30px;
}

.search>input {
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  border: none;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, .1);
  box-sizing: border-box;
}

.personal-information {
  position: absolute;
  right: 7%;
  display: flex;
}

.personal-btn {
  padding: 0 .8rem;
}



/* NAV */
nav {
  position: fixed;
  width: 30vw;
  height: 100vh;
  background-color: #fff;
  padding: 50px;
  transform: translateX(-30vw);
  box-sizing: border-box;
}

nav .container {
}

.close-btn{
  display: inline-block;
  margin-right: 50px;
}

.nav-menu{
  display: inline-block;
}



/* SECTION */

section .container{
  height: 100vh;
  width: 100%;
  background-color: turquoise;
}