<header>
  <div class="container">
    <button class="nav-btn" type="button">
      <span class="material-icons">menu</span>
    </button>
    <div class="visible">
      <a href="/" class="logo">MUSICOLOGY♪</a>
      <button class="more-contents" type="menu">음악학</button>
      <button class="more-contents" type="menu" onclick="location.href = '/library' ">문헌</button>
      <div class="search">

        <input type="text" placeholder="당신이 원하는 책을 검색하세요">
        <button class="search-btn"> <span class="material-icons">search</span></button>
      </div>
      <div class="personal-information">
        <button class="personal-btn" type="button">
          <a href="/login"><span class="material-icons">login</span></a>
        </button>
        <button class="personal-btn" type="button">
          <a href="/mypage"><span class="material-icons">favorite</span></a>
        </button>
      </div>
    </div>
  </div>
</header>

<nav class="nav">
  <div class="container">
    <button class="close-btn" type="button">
      <span class="material-icons">close</span>
    </button>
    <div class="nav-menu">
      <a href="/" class="logo">MUSICOLOGY♪</a>
    </div>
    <ul>
      <li class="subject-title">ABOUT
        <ul>
          <li>History</li>
          <li>Theory</li>
          <li>Anthropology</li>
          <li>ect</li>
        </ul>
      </li>
      <li class="subject-title">Library
        <ul>
          <li><a href="/library" class="all" data-name="ALL">ALL</a></li>
          <li><a href="/GENERAL" data-name="GENERAL">GENERAL MUSICOLOGY</a>LOGY</li>
          <li><a href="/HISTORY" data-name="HISTORY">HISTORY AND BIOGRAPHY</a></li>
          <li><a href="/CULTURE" data-name="CULTURE">MUSIC AND CULTURE</a></li>
          <li><a href="/THEORY" data-name="THEORY">MUSIC THEORY</a></li>
          <li><a href="/ESSENTIAL" data-name="ESSENTIAL">ESSENTIAL REFERENCES</a></li>
        </ul>
      </li>

    </ul>
  </div>
</nav>