<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Musicology</title>

  <link rel="stylesheet" href="/public/books/library.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;600;900&display=swap" rel="stylesheet">
  <link
    href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lobster&family=Permanent+Marker&display=swap"
    rel="stylesheet">
  <script defer src="/public/books/library.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>

<body>

  <%- include ('header.ejs') %>


  <main>

    <%- include ('section1.ejs') %>


    <div class="add-inner">
      <span class="add-book">ADD BOOK</span>
    </div>

    <section class="section2">
      
      <form action="/add" method="post">
        <span class="form-title">ADD BOOKS</span>
        <div class="title">
          <span>제목</span>
          <input type="text" name="title" required>
        </div>
        <div class="subtitle">
          <span>부제목</span>
          <input type="text" name="subtitle">
        </div>
        <div class="author">
          <span>작가</span>
          <input type="text" name="author">
        </div>
        <div class="date">
          <span>출판연도</span>
          <input type="month" name="date">
        </div>
        <div class="publish">
          <span>출판사</span>
          <input type="text" name="publish">
        </div>
        <div class="category">
          <span>분류</span>
          <select name="category" id="category">
            <option value="GENERAL MUSICOLOGY">GENERAL MUSICOLOGY</option>
            <option value="HISTORY AND BIOGRAPHY">HISTORY AND BIOGRAPHY</option>
            <option value="MUSIC AND CULTURE">MUSIC AND CULTURE</option>
            <option value="MUSIC THEORY">MUSIC THEORY</option>
            <option value="ESSENTIAL REFERENCES">ESSENTIAL REFERENCES</option>
          </select>
        </div>
        <div class="img">
          <span>이미지</span>
          <input type="url" name="img">
        </div>
        <div class="purchase">
          <span>구매처</span>
          <input type="url" name="purchase">
        </div>
        <div class="about">
          <span>상세정보</span>
          <textarea name="about" id="about" cols="30" rows="10"></textarea>
        </div>
        <div class="submit">
          <input type="submit" name="submit">
        </div>
      </form>
    </section>
  </main>



  <footer>
    <div class="title-container">
      <span>MUSICOLOGY</span>
    </div>
  </footer>




</body>

</html>