<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>


  <link rel="stylesheet" href="/public/books/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;600;900&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Lobster&family=Permanent+Marker&display=swap" rel="stylesheet">


</head>

<body>
  <div class="login-container">
    <form class="login-inner" action="/login" method="post">
      <span>MUSICOLOGY LOGIN</span>
      <div class="ID">
        <span>ID</span>
        <input type="text" name="id">
      </div>
      <div class="PASSWORD">
        <span>PASSWORD</span>
        <input type="password" name="pw">
      </div>
      
        <input type="submit" value="SUBMIT" class="SUBMIT">
    </form>
  </div>
</body>

</html>