@import './books/header.css';


/* MAIN */
.section1 {
  position: relative;
  z-index: -1;
  width: 100%;
  height: 4000px;
  padding-bottom: 50vh;
}

.text-container {
  position: absolute;
  width: 100%;
}

.text-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100vh;
}

.text1 {
  position: fixed;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 46px;
  opacity: 0;
}

.text2 {
  position: fixed;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 46px;
  opacity: 0;
}

.text3 {
  position: absolute;
  top: 4200px;
  left: 0;
  right: 0;
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 46px;
  opacity: 1;
}



.video-container {
  position: absolute;
  z-index: -3;
  width: 100%;
  height: 100%;
}

.video-container>video {
  position: sticky;
  top: 0;
  filter: grayscale(0);
}





.section2 {
  position: relative;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
  padding-bottom: 5%;
}


.card-box {
  padding: 5% 3%;
  background-color: #fff;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.title {
  font-size: 40px;
}

.contents {
  font-size: 30px;
}


.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
}

.card:first-child {
  background-image: url(./img/history.jpg);
}

.card:nth-child(2) {
  background-image: url(./img/music\ Theory.jpg);
}

.card:nth-child(3) {
  background-image: url(./img/anthropology.jpg);
}

.card:nth-child(4) {
  background-image: url(./img/etc.jpg);
}

.card {
  padding: 10px 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, .1);
  min-height: 200px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  vertical-align: middle;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}
.card>a{
  color: #fff;
}

.books {
  padding: 5% 0;
}

.books>.title-container {
  position: relative;
  padding-bottom: 30px;
  font-family: 'Lobster', cursive;
  text-align: center;

}

.books>.container {
  width: 300vw;
  transition: all 1s;
}

.next {
  position: absolute;
  right: -20px;
  bottom: 300px;
  padding-right: 2%;
  cursor: pointer;
  z-index: 3;

}

.previous {
  position: absolute;
  left: 20px;
  bottom: 300px;
  padding-right: 2%;
  cursor: pointer;
  z-index: 3;

}

.book-tray {
  float: left;
  text-align: center;
  width: 50vw;
  height: 100%;
  font-family: 'Noto Serif KR', serif;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
}

.book-img {
  object-fit: contain;
  height: 300px;
}

.book-title {
  font-weight: 900;
  font-size: 25px;
}

.book-subtitle {
  padding-bottom: 5px;
}




footer {
  text-align: center;
  box-sizing: border-box;
  width: 100%;
  height: 40vh;
  padding: 30px;
  background-color: rgba(0, 0, 0, .4);
  color: #fff;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
}



@media screen and (max-width : 992px) {
  .nav-btn {
    padding-left: 3%;
  }
  
  .nav-btn>span {
    padding: 5px;
  }
  
  .visible {
    padding: 0 15% 0 15%;
  }
    
  .more-contents {
    display: none;
  }
  
  
  .search {
    width: 45%;;
  }
  
  
  
  .search>input {
    padding-right: 30px;
  }

  .personal-information {
    right: 3%;
  }
  
  .personal-btn>a>span {
    padding: 10px;
  }

  .text2 {
    font-size: 30px;
  }

  .text3 {
    font-size: 40px;
  }



  .book-tray {
    height: 70%;
    font-size: 14px;
  }

  .book-img {
    height: 250px;
  }

  .book-title {
    font-weight: 900;
    font-size: 18px;
  }
}


@media screen and (max-width : 576px) {
  
  .logo {
    font-size: 16px;
  }  
  .nav-btn {
    padding-left: 5%;
  }
  .visible {
    padding: 0 5% 0 15%;
  }
  .search {
    width: 50%;;
  }
  
  .personal-information {
    display: none;
    right: 3%;
  }
  
}