body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Serif KR', serif;
  overflow-x: hidden;
}

div {
  box-sizing: border-box;

}

button {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  font-family: 'Noto Serif KR', serif;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

span {
  display: block;
}

.logo {
  font-size: 20px;
  font-weight: 900;
  border: 1px solid #000;
  border-radius: 10px;
  padding: 10px;
  transition: all .3s;
  box-sizing: border-box;
}

.logo:hover {
  background-color: rgba(0, 0, 0, .1);
  border-color: rgba(0, 0, 0, 0);
}


/* HEADER */
header {
  position: fixed;
  width: 100%;
  height: 92px;
  background-color: #fff;
  z-index: 4;
}

header .container {
  height: 100%;
}

.nav-btn {
  position: absolute;
  z-index: 3;
  padding-left: 10%;
  height: 100%;
}

.nav-btn>span {
  padding: 10px;
}

.nav-btn>span:hover {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, .1);
}

.visible {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5% 0 15%;
}

.visible>.logo {
  margin: 0 2%;
}

.more-contents {
  font-size: 18px;
  font-weight: 600;
  padding: 0 2%;
}


.search {
  position: relative;
  width: 40%;
  padding: 0 15px;
  display: flex;
  align-items: center;
}

.search .search-btn {
  position: absolute;
  z-index: 3;
  left: 30px;
}

.search>input {
  position: absolute;
  width: 100%;
  height: 50px;
  padding: 0 50px;
  box-sizing: border-box;
  border: none;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, .1);

}

.personal-information {
  position: absolute;
  display: flex;
  right: 8%;

}

.personal-btn>span {
  padding: 10px;
}

.personal-btn>span:hover {
  border-radius: 50px;
  background-color: rgba(0, 0, 0, .1);
}




/* NAV */
nav {
  position: fixed;
  width: 400px;
  height: 100vh;
  padding: 50px 0 50px 30px;
  box-sizing: border-box;
  background-color: #fff;
  transform: translateX(-50vw);
  transition: all .5s;
  z-index: 5;
}


.close-btn {
  display: inline-block;
  margin-right: 50px;
}

.nav-menu {
  display: inline-block;
}

.subject-title {
  font-family: 'Noto Serif KR', serif;
  margin: 30px;
  font-weight: 900;
  font-size: 30px;
  list-style: none;
}

.subject-title>ul>li {
  font-weight: 600;
  font-size: 16px;
  list-style: none;
  cursor: pointer;
}


.section1 .container {
  min-height: 70vh;

}

.category-inner1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 600;
  padding: 100px 100px 0;
}

.category-inner1>span {
  margin: 0 10px;
  cursor: pointer;
}

.category-inner2 {
  position: relative;
  padding: 10px;

}

.category-inner2>select {
  position: absolute;
  width: 150px;
  right: 100px;
}



.book-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10vh;
}

.book-card {
  position: relative;
  text-align: center;
  width: 40vw;
  height: 30vh;
}

.book-card:hover .book-img {
  filter: blur(5px);
  z-index: -1;
}

.book-card:hover .book-info {
  display: block;
}

.book-img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: all .2s;
}

.book-img .img>img {
  height: 30vh;
}

.book-info {
  position: absolute;
  right: 0;
  left: 0;
  display: none;
  transition: all .2s;
}

.book-info .title {
  font-size: 24px;
  font-weight: 600;
}

.book-info>button {
  position: absolute;
  bottom: 0;
  z-index: 5;
}
.edit{
  right: 50px;
}
.delete{
  right: 10px;
}

.add-inner{
  position: relative;
  width: 100%;
  height: 100px;
  text-align: center;
  
}

.add-book{

  display: inline-block;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, .4);
  border-radius: 20px;
  transition: all .2s;
  font-weight: 600;
  cursor: pointer;
}

.add-book:hover{
  background-color: rgba(0, 0, 0, .4);
  border: 1px solid transparent;
  color: #fff;
}


.section2 {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 120vh;
  margin-bottom: 50px;
  font-family: 'Noto Serif KR', serif;
  transition: all .2s;
}

.section2>form {
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 5%;
  background-color: rgba(0, 0, 0, .4);
  border-radius: 10px;
  text-align: center;
}

.section2>form>span{
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  margin-bottom: 30px;
}
.section2>form>div>span{
  margin-top: 10px;
  font-weight: 600;
}
.section2>form>div>input{
  width: 200px;
}

.submit>input{
  height: 30px;
  margin: 20px 0;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}








footer {
  width: 100%;
  height: 40vh;
  padding: 30px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .4);
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  color: #fff;

}