<header>
  <div class="container">
    <button class="nav-btn" type="button">
      <span class="material-icons">menu</span>
    </button>
    <div class="head-wrapper">
      <a href="/" class="logo">MUSICOLOGY♪</a>
      <button
        class="libarary-btn"
        type="menu"
        onclick="location.href = '/library' "
      >
        문헌
      </button>
      <div class="search-wrapper">
        <input type="text" placeholder="당신이 원하는 책을 검색하세요" />
        <button class="search-btn">
          <span class="material-icons">search</span>
        </button>
      </div>
      <!-- <div class="mypage-wrapper">
        <button class="login-btn" type="button">
          <a href="/login"><span class="material-icons">login</span></a>
        </button>
        <button class="mypage-btn" type="button">
          <a href="/mypage"><span class="material-icons">favorite</span></a>
        </button>
      </div> -->
    </div>
  </div>
</header>
