<nav class="nav">
  <div class="container">
    <button class="close-btn" type="button">
      <span class="material-icons">close</span>
    </button>
    <div class="nav-menu">
      <a href="/" class="logo">MUSICOLOGY♪</a>
    </div>
    <ul>
      <li class="nav-subject-title">
        Library
        <ul>
          <li><a href="/library" class="all" data-name="ALL">ALL</a></li>
          <li>
            <a href="/library/GENERAL" data-name="GENERAL"
              >GENERAL MUSICOLOGY</a
            >
          </li>
          <li>
            <a href="/library/HISTORY" data-name="HISTORY"
              >HISTORY AND BIOGRAPHY</a
            >
          </li>
          <li>
            <a href="/library/CULTURE" data-name="CULTURE">MUSIC AND CULTURE</a>
          </li>
          <li><a href="/library/THEORY" data-name="THEORY">MUSIC THEORY</a></li>
          <li>
            <a href="/library/ESSENTIAL" data-name="ESSENTIAL"
              >ESSENTIAL REFERENCES</a
            >
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
