<div class="login-container">
  <form class="login-inner" action="/login" method="post">
    <a href="/" class="home-logo"><span class="material-icons">home</span></a>
    <span>MUSICOLOGY LOGIN</span>
    <div class="ID">
      <span>ID</span>
      <input type="text" name="id" />
    </div>
    <div class="PASSWORD">
      <span>PASSWORD</span>
      <input type="password" name="pw" />
    </div>
    <input type="submit" value="SUBMIT" class="login-submit" />
  </form>
  <button class="join-anchor">회원가입을 하고 싶으신가요?</button>

  <form class="join-inner" action="/join" method="post">
    <a href="/" class="logo"><span class="material-icons">home</span></a>
    <span>MUSICOLOGY JOIN</span>
    <div class="ID">
      <span>ID</span>
      <input type="text" name="id" required />
    </div>
    <div class="PASSWORD">
      <span>PASSWORD</span>
      <input type="password" name="pw" required />
    </div>

    <input type="submit" value="SUBMIT" class="join-submit" />
  </form>
  <button class="prev-btn">로그인 페이지로 돌아가고 싶으신가요?</button>
</div>
